<form action="">
	<label> название блюда: <input type="text"></label><br>
	<label> краткое описание: <input type="text"></label><br>
	<label> основное фото: <input type="file"></label><br>
	
	<label> национальная кухня: <br>
		<select name="" size="4" id="">
			<option value="">3123</option>
			<option value="">2321</option>
			<option value="">21321</option>
			<option value="">21312312</option>		

		</select>
	</label><br>

	<label> время приготовления: <input type="text"></label><br>
	<label> количество порций: <input type="text"></label><br>

	<label for="">категории:<br>
		<select name="" size="2" id="">
			<option value="">3123</option>
			<option value="">2321</option>
			<option value="">21321</option>

		</select>
	</label><br>
</form>